# --- 시스템 파일 ---
__pycache__/
*.py[cod]
.DS_Store
.vscode/

# --- 가상환경 및 환경변수 ---
.venv/
venv/
.env

# --- 데이터 (가장 중요! 절대 커밋 금지) ---
data/
paddle_models/

# --- 모델 가중치 파일 (대용량) ---
*.pt
*.bin
*.ckpt
*.onnx
*.safetensors

# --- 로그 및 기타 ---
*.log
.ipynb_checkpoints/

models/

# Vector Database
chroma_db/
__pycache__/
*.pyc


chat_history.json
temp_uploads/
temp_api/